ul,
li {
    list-style: none;
}

li button {
    width: 62px;
    height: 32px;
}

#container {
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 60px 1fr 60px;
}

#burger-menu {
    grid-area: 1 / -2;
}

#burger-button {
    width: 56px;
    aspect-ratio: 1;
}

.hidden {
    display: none;
}


.visible {
    position: relative;
    right: 100px;
    margin-left: auto;
    margin-right: auto;
}